# 1.

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv('https://github.com/purachai-phonwisut/machine_learning_project/raw/main/Data%20cleaned/raw/Disposable_income_adj.csv')
df2 = pd.read_csv('https://github.com/purachai-phonwisut/machine_learning_project/raw/main/Data%20cleaned/raw/values_long_format.csv')

df1.rename(columns={'Geography':'Country'}, inplace= True)
merged_df = pd.merge(df1, df2, on="Country")

merged2 = merged_df.iloc[:, [0,6,7,8,9,10,11,12]]
# merged2 = merged_df.loc[:, ['Country', '2017']]
merged2.rename(columns={'2011_x': '2011', '2013_x': '2013', '2015_x': '2015', '2017_x': '2017'}, inplace=True)

# merged2['avg'] = merged2['2011'] + merged2['2012']

numeric_columns = ['2011', '2012', '2013', '2014', '2015', '2016', '2017']
merged2[numeric_columns] = merged2[numeric_columns].replace({',': ''}, regex=True).astype(float)
merged2['avg'] = merged2.iloc[:, 1:8].sum(axis=1)
merged2

merged3 = merged2[['Country', 'avg']]

merged3

## df1 old

In [ ]:
#df1 = Disposable_income_adj.csv
#df2 = values_long_format.csv
df1 = pd.read_csv('https://github.com/purachai-phonwisut/machine_learning_project/raw/main/Data%20cleaned/raw/Disposable_income_adj.csv')
df2 = pd.read_csv('https://github.com/purachai-phonwisut/machine_learning_project/raw/main/Data%20cleaned/raw/values_long_format.csv')

#changing United States to USA
df2['Country'].replace({'United States': 'USA'}, inplace=True)

#prepare df1 to merge
#renaming Geography to Country to match df2
df1.rename(columns={'Geography':'Country'}, inplace= True)
#drop unnecessary columns(count=5)
df1.drop(columns=['Category','Data Type','Unit','Currency Conversion','Current Constant'], inplace=True)

#prepare df2 to merge
#drop years
df2.drop(columns=['2017', '2015', '2013', '2011'],inplace=True)

#selecting countries that exists in both df1 and 2 with merge
#joining 2 df with merge using innerjoin.
merge_df1 = pd.merge(df1,df2, on='Country', how='inner')

#defining numeric_column
numeric_columns = ['2011', '2012', '2013', '2014', '2015', '2016', '2017']
#converting string integer to float
merge_df1[numeric_columns] = merge_df1[numeric_columns].replace({',': ''}, regex=True).astype(float)

# Add 'Total' column by summing columns 2 through 8
merge_df1['Total'] = merge_df1.iloc[:, 1:8].sum(axis=1)

# Calculate the average of the 'Total' column
merge_df1['avg disposible income per year (in million USD)'] = merge_df1['Total']/7
#Save a part of the table here
Final_df1 = merge_df1[['region', 'Country', 'avg disposible income per year (in million USD)']]

Final_df1

# reminder to change nan to NA

## df2 old

In [ ]:
df1 = pd.read_csv('https://github.com/purachai-phonwisut/machine_learning_project/raw/main/Data%20cleaned/raw/Disposable_income_adj.csv')
df2 = pd.read_csv('https://github.com/purachai-phonwisut/machine_learning_project/raw/main/Data%20cleaned/raw/values_long_format.csv')

#changing United States to USA
df2['Country'].replace({'United States': 'USA'}, inplace=True)

#prepare df1 to merge
#renaming Geography to Country to match df2
df1.rename(columns={'Geography':'Country'}, inplace= True)

first_merge_df1 = pd.merge(df2, df1, on='Country', how='inner')

numeric_columns = ['2011_x', '2013_x', '2015_x', '2017_x']

first_merge_df1[numeric_columns] = first_merge_df1[numeric_columns].replace({',': ''}, regex=True).astype(float)

first_merge_df1['Total'] = first_merge_df1.iloc[:, 1:5].sum(axis=1)

first_merge_df1['avg unlicensed loss per year (in million USD)'] = first_merge_df1['Total']/4

Final_df2 = first_merge_df1[['region', 'Country', 'avg unlicensed loss per year (in million USD)']]

Final_df2

## picture 1 for COM

In [53]:
# Merge Final_df1 and Final_df2 on 'region' and 'Country'
final_merged_df = pd.merge(Final_df1, Final_df2, on=['region', 'Country'], how='inner')
final_merged_df.sort_values(['region', 'Country'])

,region,Country,avg disposible income per year (in million USD),avg unlicensed loss per year (in million USD)
16,AP,Australia,7.154733e+05,656.25
1,AP,Bangladesh,1.011627e+05,201.50
2,AP,China,5.311551e+06,8292.00
3,AP,India,1.209015e+06,2749.75
4,AP,Indonesia,4.363480e+05,1292.50
...,...,...,...,...
83,WE,Sweden,1.889486e+05,351.50
84,WE,Switzerland,4.258656e+05,457.50
86,WE,United Kingdom,1.454264e+06,1829.50
68,NaN,Canada,7.983402e+05,985.50
69,NaN,USA,1.323789e+07,9304.25